:root {
  --main-color: #a08a59;
  --lighter-main: #dac294;
  --greyish: #d2d2d2;
  --off-white: #efefef;
  --b: #000000;
}

/*
The above colors are now in our css stylesheet as custom bootstrap classes

  "dbrown": #a08a59,
  "beige": #dac294,
  "greyish": #d2d2d2,
  "off-white": #efefef,
  "black": #000000
*/

body {
  background: var(--off-white);
  background-size: cover;
}

.loginStuff {
  width: 500px;
}

.inputStuff {
  width: 90%;
  margin-left: 5%;
  font-size: 1.2rem;
}

.fullWidth {
  width: 100%;
}

@media screen and (max-width: 600px){
  .loginStuff {
    width: 100%;
  }
  .inputStuff {
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px){
  #ButtonMargin {
    margin-bottom: 10px; 
  }
}

/* 768 */