:root {
  --main-color: #a08a59;
  --off-white: #efefef;
  --lighter-main: #dac294;
  --greyish: #d2d2d2;
  --b: #000000;
}

body {
  background: url("./img/clocktile.png");
  background-size: cover;
}
