.typed {
    font-size: 50pt;
    color: white;
    text-align: center;
    text-shadow: 2px 2px #396069;
    
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
         

}

.splashimage {
    /* background-image: url("../img/Splash.jpg"); */
    height: 100%;
    width: 100% ;
    /* background-size: 100%; */
    position: relative;
}