.splashimage {
  /* background-image: url("../img/Splash.jpg"); */
  height: 100%;
  width: 100%;
  /* background-size: 100%; */
  position: relative;
}
.splashmobile {
  display: none;
}
.typed {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-size: 50pt;
  color: #efefef;
  text-align: center;
  text-shadow: 2px 2px #1c395d;

  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .typed {
    font-size: 25pt;
  }
  .splashimage {
    display: none;
  }
  .splashmobile {
    height: 100vh;
    width: 100%;
    display: block;
  }
}
